* {
  box-sizing: content-box;
}

body {
  display: grid;
  margin: 0px;
  grid-template-areas:
    "sidebar form"
    "sidebar cards";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 55% 80%;
}

h1 {
  color: white;
  padding: 20px;
}

img {
  height: 25px;
  width: 25px;
}

#search {
}

/* NAV */
.nav {
  background-color: #1F1F3D;
  grid-area: sidebar;
}

.nav-section {
  border-top: #353567 2px solid;
  border-bottom: #353567 2px solid;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.nav-button-open,
.nav-button-close {
  display: none;
}

.nav-paragraph {
  color: #E9E9F3;
  font-size: 20px;
}

.nav-button-starbutton {
  color: white;
  background-color: #5356A4;
  border: #353567 2px solid;
  padding: 10px 0;
  font-size: 180%;
  border-radius: 3px;
}

/* FORM */
.div-form {
  background-color: #A9AAD2;
  grid-area: form;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-left: white 2px solid;
}

.form-input-title {
  width: 400px;
  font-size: 25px;
  padding: 5px 0;
  margin: 0 auto 20px;
  border: #5356A4 2px solid;
  border-radius: 3px;
  height: 2em;
}

.idea-title-label,
.idea-body-label {
  margin: 5px auto;
  width: 400px;
  color: #1F1F3D;
}

.form-textarea-body {
  font-size: 25px;
  width: 400px;
  height: 4em;
  padding: 5px 0;
  margin: 0 auto 15px;
  border: #5356A4 2px solid;
  border-radius: 3px;
}

.form-button-save {
  width: 400px;
  margin: 15px auto;
  font-size: 20px;
  padding: 8px 0;
  color: #E9E9F3;
  background-color: #1F1F3D;
  border: #5356A4 2px solid;
  border-radius: 3px;
  height: 2em;
}

.form-div {
  width: 400px;
  margin: 10px auto;
  height: 3em;
  padding: 0;
  display: flex;
  align-items: center;
  border: #5356A4 2px solid;
  background-color: white;
  border-radius: 3px;
}

.form-input-search {
  font-size: 16px;
  width: 100%;
  border: none;
  margin: 5px;
}

.form-button-search {
  height: 97%;
  width: 3em;
  background-color: #1F1F3D;
  border: none;
}

#search {
  height: 2em;
  width: 2em;
}

.form {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 20px 0;
}


/* CARDS */
.section-cards {
  background-color: #EAEAF4;
  grid-area: cards;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* overflow: scroll; */
}

.card {
  height: 40%;
  width: 20%;
  border: 1px solid #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
}

.card-header button {
  background-color: #1F1F3D;
  border: none;
}

.card-body {
  background-color: #FFFFFF;
  flex-direction: column;
  justify-content: flex-start;
}

.card-footer {
  background-color: #A9AAD2;
  display: flex;
  justify-content: flex-start;
}
