* {
  box-sizing: content-box;
  margin: 0px;
}

body {
  display: grid;
  grid-template-areas:
    "sidebar form"
    "sidebar cards";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 3fr;
}

img {
  height: 25px;
  width: 25px;
}

/* NAV */
.nav {
  background-color: #1F1F3D;
  grid-area: sidebar;
  height: 100%;
}

/* FORM */
.div-form {
  background-color: #A9AAD2;
  grid-area: form;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-flow: column;
  width: 60%;
}


/* CARDS */
.section-cards {
  background-color: #EAEAF4;
  grid-area: cards;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  height: 30%;
  width: 45%;
  display: grid;

}

.card-header {
  background-color: #1F1F3D;
}

.card-body {
  background-color: #FFFFFF;
}

.card-footer {
  background-color: #A9AAD2;
}
